<nav>
    <div class="title a">Restauracja</div>
    <a href="/">Home</a>
    <a href="/contact">Kontakt</a>
    <a href="/menu">Menu</a>

    <div style="float:right">
        {{#if isLogged}}
        <div class="a">{{name}}</div>
        <a href="/logout">Wyloguj się</a>
        {{else}}
        <a href="/login">Zaloguj sie</a>
        {{/if}}
    </div>
    <div style="clear:both"></div>
</nav>