<nav>
    Restauracja
    <a href="/">Home</a>
    <a href="/menu">Menu</a>

    {{#if isLogged}}
    {{name}}
    <a href="/logout">Wyloguj się</a>
    {{else}}
    <a href="/login">Zaloguj sie</a>
    {{/if}}
</nav>