<div id="reservation">
    <h1>Rezerwacje</h1>
    <div class="nextTo">


        <table>
            <tr>
                <td colspan="2">Stoliki</td>
            </tr>
            <tr>
                <th>Numer</th>
                <th>Miejsca</th>
            </tr>
            {{#each tables}}
            <tr class="selectTable" onclick="">
                <td>{{number}}</td>
                <td>{{seats}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="nextTo">
        <table id="reservationTab">
            <tr>
                <td colspan="3">Rezerwacje</td>
            </tr>
            {{#if isChosen}}
            <tr>
                <th>
                    wstecz
                </th>
                <th>
                    {{date}}
                </th>
                <th> przód </th>
                </wstecz>
            </tr>
            {{else}}
            <tr>
                <td>Wybierz Stolik</td>
            </tr>

            {{/if}}
        </table>

    </div>
</div>