<div id="login">
    <h2>Resetuj Hasło</h2>
    <form method="POST" action="/resetPassword/reset">
        <label> <input name="mail" type="email" placeholder="E-mail"></label>
        <label><input type="submit" value="Resetuj Hasło"></label>
    </form>

</div>